<div>
    <h1 align="center" style="padding: 10px 0; border-bottom: 2px dashed blue">Pandas Series</h1>
</div>

<h3>1. Create a Series from a Python List</h3>
<p> Series is a one dimesional labeled array that stores data in a sequenced order.
</p>
<ul>
    <li>cosistenency of the data type in the Series is important</li>
    <li>inlike a python list a Series allows you to have a string indentifier (index)
   
</ul>

In [1]:
#import tha pandas library
import pandas as pd

<p>creating a pandas Series from a python list</p>

In [2]:
#my sample_list 
sample_list = ["that", "this", "these", "there"]
#call the Series constructor which will construct a pandas series
Series_from_list = pd.Series(sample_list)
Series_from_list

0     that
1     this
2    these
3    there
dtype: object

In [3]:
Int_list = [1,23,4,5,5,6]
pd.Series(Int_list) #not by defaulft pandas give an index if not specified

0     1
1    23
2     4
3     5
4     5
5     6
dtype: int64

<p>Create a pandas Series from a Python Dictionary</p>
    <ul>
        <li>N.B dict keys are used as index values , the index is not defualt</li>
    </ul>

In [4]:
#declare a Python Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#use the Series constructor to create a pandas series from the constructor
pd.Series(thisdict)

brand       Ford
model    Mustang
year        1964
dtype: object

<p>attributes and methods of a Series</p>
<p>attri</p>

In [5]:
Another_list = ["yes", "no", "yeah", "nah", "yeap", "nope"]
a = pd.Series(Another_list)
a

0     yes
1      no
2    yeah
3     nah
4    yeap
5    nope
dtype: object

<h4>Series attributes</h4>
<p>the attributes of a series object will give you information about the object but do not make any changes to the object</p>

In [6]:
#values attribute returns an np array with the value of the series
a.values

array(['yes', 'no', 'yeah', 'nah', 'yeap', 'nope'], dtype=object)

In [7]:
#index attribute
a.index

RangeIndex(start=0, stop=6, step=1)

In [8]:
#check a type
a.dtype

dtype('O')

<h4>intro to Methods</h4>
<p>unlike the attribute methods can make changes on the pandas series</p>

In [9]:
your_floats = [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]
y_f = pd.Series(your_floats)
y_f

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
6    3.5
7    4.0
8    4.5
9    5.0
dtype: float64

In [10]:
#sum method sums up all the values 
y_f.sum()

27.5

In [12]:
#product method
y_f.product()

3543.75

In [13]:
#notice that the methods do not give you attributes of the object but the actually do calculaiton on the object.
y_f.mean()

2.75

<h4>parameters and arguments</h4>
<table>
    <tr>
        <th>Parameter<th>
        <th>Argument</th>
    </tr>
     <tr>
        <td>Game level<th>
        <td>Easy, Medium, Hard</td>
    </tr>
     <tr>
        <td>Volume<td>
        <td>1 through 10</td>
    </tr>
     <tr>
        <td>Subtitles<td>
        <td>True or False</td>
    </tr>
</table>

In [16]:
fruits = ["banana", "apple", "mango", "orange", "peach"]
week_days = ["Mon", "tue", "wed", "thur", "fri"]

In [17]:
pd.Series(fruits,index=week_days)

Mon     banana
tue      apple
wed      mango
thur    orange
fri      peach
dtype: object

<h4>import Series with the read_csv Method</h4>

In [126]:

pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
p_d = pokemon.copy()
p_d.head() #view the head of the Series

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [41]:
p_d.tail()#view the tail of the series

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [127]:
#read another data
google = pd.read_csv("google_stock_price.csv" ,squeeze =True) #squeezee the column
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [48]:
#pass the series to the builtin functions of python
print("google series lenght : " + str(len(google)))
print("pokemon series lenght : " + str(len(p_d)))

google series lenght : 3012
pokemon series lenght : 721

In [55]:
#check the object type
type(google)
type(p_d)
#sort the list
sorted(google)[:5]
#use the dir function
#dir(pokemon)

[49.95, 50.07, 50.12, 50.7, 50.74]

In [65]:
# craete a list of a dictionary from a pandas series
list(google)[:3] #create a goole list and select the first 3 items
dict(google) #cretates a python dict
min(google)
max(google)

782.22

<h4>More Series attributes</h4>

In [66]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [67]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [68]:
#check the data type
c

dtype('O')

In [69]:
google.dtype

dtype('float64')

In [70]:
#check for unique vales
pokemon.is_unique

True

In [72]:
google.is_unique #the values in the google dataset have duplicates

False

In [74]:
#check the number of dimensions in the series
google.ndim #a series will always return 1 hence it is a one dimension

1

In [75]:
#shape return a tuple with the number of rows by the number of columns
google.shape #notte it also counts the null values

(3012,)

In [77]:
#size works similar to value counts, it couynts the number of values in a series
google.size

3012

In [79]:
#get the name attr
pokemon.name

'Pokemon'

### .sort_values method

In [85]:
#.sort_values returns a brand new series object that is soerted alphabetically by defaullt 
pokemon.sort_values(ascending=False). #sort values asc
pokemon.sort_values(ascending=False).head() #sort values desc 
#note on the above live we have done method chaining by calling the method right after .sort_values

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [91]:
#lets do the same with the google data set
#print(google.sort_values().tail())
google.sort_values(ascending=False).head()
#note the the .sort_values does not modify a series but it just returns a brand new one

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

#### using inplace parameter

In [120]:
#### using inplace parameter option to make permanet changes on a data frame
#google.sort_values()
google.sort_values(inplace=True)
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [123]:
#lets sort google in descing order and makechanges to thw series object
google.sort_values(ascending=False, inplace=True)
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

### Sorting the index of a series

In [131]:
"""
   this is s complementary method to the .sort_values method
   it sort the values by index, restoring the index to its original form.
   you can use this method when you want to bring series based on a certain criteria 
   to its originak form.
"""
google.sort_index().head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [ ]:
### Python i keyword