<div>
    <h1 align="center" style="padding: 10px 0; border-bottom: 2px dashed blue">Pandas Series</h1>
</div>

<h3>1. Create a Series from a Python List</h3>
<p> Series is a one dimesional labeled array that stores data in a sequenced order.
</p>
<ul>
    <li>cosistenency of the data type in the Series is important</li>
    <li>inlike a python list a Series allows you to have a string indentifier (index)
   
</ul>

In [1]:
#import tha pandas library
import pandas as pd

<p>creating a pandas Series from a python list</p>

In [2]:
#my sample_list 
sample_list = ["that", "this", "these", "there"]
#call the Series constructor which will construct a pandas series
Series_from_list = pd.Series(sample_list)
Series_from_list

0     that
1     this
2    these
3    there
dtype: object

In [3]:
Int_list = [1,23,4,5,5,6]
pd.Series(Int_list) #not by defaulft pandas give an index if not specified

0     1
1    23
2     4
3     5
4     5
5     6
dtype: int64

<p>Create a pandas Series from a Python Dictionary</p>
    <ul>
        <li>N.B dict keys are used as index values , the index is not defualt</li>
    </ul>

In [4]:
#declare a Python Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#use the Series constructor to create a pandas series from the constructor
pd.Series(thisdict)

brand       Ford
model    Mustang
year        1964
dtype: object

<p>attributes and methods of a Series</p>
<p>attri</p>

In [5]:
Another_list = ["yes", "no", "yeah", "nah", "yeap", "nope"]
a = pd.Series(Another_list)
a

0     yes
1      no
2    yeah
3     nah
4    yeap
5    nope
dtype: object

<h4>Series attributes</h4>
<p>the attributes of a series object will give you information about the object but do not make any changes to the object</p>

In [6]:
#values attribute returns an np array with the value of the series
a.values

array(['yes', 'no', 'yeah', 'nah', 'yeap', 'nope'], dtype=object)

In [7]:
#index attribute
a.index

RangeIndex(start=0, stop=6, step=1)

In [8]:
#check a type
a.dtype

dtype('O')

<h4>intro to Methods</h4>
<p>unlike the attribute methods can make changes on the pandas series</p>

In [9]:
your_floats = [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]
y_f = pd.Series(your_floats)
y_f

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
6    3.5
7    4.0
8    4.5
9    5.0
dtype: float64

In [10]:
#sum method sums up all the values 
y_f.sum()

27.5

In [11]:
#product method
y_f.product()

3543.75

In [12]:
#notice that the methods do not give you attributes of the object but the actually do calculaiton on the object.
y_f.mean()

2.75

<h4>parameters and arguments</h4>
<table>
    <tr>
        <th>Parameter<th>
        <th>Argument</th>
    </tr>
     <tr>
        <td>Game level<th>
        <td>Easy, Medium, Hard</td>
    </tr>
     <tr>
        <td>Volume<td>
        <td>1 through 10</td>
    </tr>
     <tr>
        <td>Subtitles<td>
        <td>True or False</td>
    </tr>
</table>

In [13]:
fruits = ["banana", "apple", "mango", "orange", "peach"]
week_days = ["Mon", "tue", "wed", "thur", "fri"]

In [14]:
pd.Series(fruits,index=week_days)

Mon     banana
tue      apple
wed      mango
thur    orange
fri      peach
dtype: object

<h4>import Series with the read_csv Method</h4>

In [15]:

pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
p_d = pokemon.copy()
p_d.head() #view the head of the Series

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [16]:
p_d.tail()#view the tail of the series

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [17]:
#read another data
google = pd.read_csv("google_stock_price.csv" ,squeeze =True) #squeezee the column
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [18]:
#pass the series to the builtin functions of python
print("google series lenght : " + str(len(google)))
print("pokemon series lenght : " + str(len(p_d)))

google series lenght : 3012
pokemon series lenght : 721

In [19]:
#check the object type
type(google)
type(p_d)
#sort the list
sorted(google)[:5]
#use the dir function
#dir(pokemon)

[49.95, 50.07, 50.12, 50.7, 50.74]

In [20]:
# craete a list of a dictionary from a pandas series
list(google)[:3] #create a goole list and select the first 3 items
dict(google) #cretates a python dict
min(google)
max(google)

782.22

<h4>More Series attributes</h4>

In [21]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [22]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [23]:
#check the data type
type(google)

pandas.core.series.Series

In [24]:
google.dtype

dtype('float64')

In [25]:
#check for unique vales
pokemon.is_unique

True

In [26]:
google.is_unique #the values in the google dataset have duplicates

False

In [27]:
#check the number of dimensions in the series
google.ndim #a series will always return 1 hence it is a one dimension

1

In [28]:
#shape return a tuple with the number of rows by the number of columns
google.shape #notte it also counts the null values

(3012,)

In [29]:
#size works similar to value counts, it couynts the number of values in a series
google.size

3012

In [30]:
#get the name attr
pokemon.name

'Pokemon'

### .sort_values method

In [31]:
#.sort_values returns a brand new series object that is soerted alphabetically by defaullt 
#pokemon.sort_values(ascending=False). #sort values asc
pokemon.sort_values().head() #sort values desc 
#note on the above live we have done method chaining by calling the method right after .sort_values

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [32]:
#lets do the same with the google data set
#print(google.sort_values().tail())
google.sort_values(ascending=False).head()
#note the the .sort_values does not modify a series but it just returns a brand new one

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

#### using inplace parameter

In [33]:
#### using inplace parameter option to make permanet changes on a data frame
#google.sort_values()
google.sort_values(inplace=True)
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [34]:
#lets sort google in descing order and makechanges to thw series object
google.sort_values(ascending=False, inplace=True)
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

### Sorting the index of a series

In [35]:
"""
   this is s complementary method to the .sort_values method
   it sort the values by index, restoring the index to its original form.
   you can use this method when you want to bring series based on a certain criteria 
   to its originak form.
"""
google.sort_index().head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

### Python i keyword

In [36]:
google.head()
pokemon[:2]

0    Bulbasaur
1      Ivysaur
Name: Pokemon, dtype: object

In [37]:
#review of the in key word returns a bool true/ fslse depending weather the value exists or not
that_lis = [1,2,3,4,5]
#check if 50 exists in that_lis
50 in that_lis #note it return a false because that value doesn't exists in the list

False

<p>The <strong>IN</strong> key does not work in a similar way with a pandas series, by default the <strong>IN</strong> keyword will start looking at the index, unlike in the lists where it starts looking for the values in the list values, to check in a series values we have to call the <strong>.values</strong> attribute </p>

In [38]:
#egs for a lists and a series
#list
word = ["that", "this", "for", "far"]
a ="that" in word
print("I am from the list : " + str(a) )
#check in the pokemon series
b = "Ivysaur" in pokemon
print("I am from the series : " + str(b))

"""
    note that the words we are a searching for exists in both the list snd the series.
    but because the IN key word looked in the index by default it couldn't find the value
    , even though the value exists in the series.
"""

I am from the list : True
I am from the series : False

"\n    note that the words we are a searching for exists in both the list snd the series.\n    but because the IN key word looked in the index by default it couldn't find the value\n    , even though the value exists in the series.\n"

In [39]:
# the big question what is being done to the series on the background when we use IN key 
"Ivysaur" in pokemon.index #by defualt this is what happens
100 in pokemon.index # returns true because 100 is one of the index values
100 in pokemon.values #returns false because 100 does not exist in the values
"Ivysaur" in pokemon.values #returns true because  Ivysaur exists in the series values

True

### Extracting values from a series based on thier index location

In [40]:
#get the head of the pokemon
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [41]:
#let us try getting each of the top 3 values separate
print("I am at index 1 :" + pokemon[1]) #get the pokemon at index 1
print("I am at index 3 :" +pokemon[3]) #get the pokemon at index 3
print("I am at index 2 :" +pokemon[2]) #get the pokemon at index 2

I am at index 1 :Ivysaur
I am at index 3 :Charmander
I am at index 2 :Venusaur

In [42]:
"""
    now that we know how to get a single value by indexing in a series we can then
    move on to getting multiple s values by indexing from a series.
    we do thar by passing in a list inside the square brackets, then a new series will be
    returned.
"""

pokemon[[4,5,6,7,1,8]] # values are sorted in the manner in which the index values were passed

4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
1       Ivysaur
8     Blastoise
Name: Pokemon, dtype: object

In [43]:
"""
    note that  the  slicing of a series is similar to that of a python list
"""
pokemon[:5] #get up to nth index
pokemon[5:10] #get values from 5 till 9th index exclude the value in the 10 index

5    Charizard
6     Squirtle
7    Wartortle
8    Blastoise
9     Caterpie
Name: Pokemon, dtype: object

### extract values by index label

In [44]:
"""
    here we will  using a column as an index
    Note even though  we have string index values, the default integer index
    is not lost we still have it on the background and we can still use it to
    extraxt values by index sima=ilary to the way we did in a few cells above.
"""
pokemon = pd.read_csv("pokemon.csv", index_col =["Pokemon"],squeeze=True)
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [45]:
#egs of int indexes
pokemon[0] #get the first item in the series
pokemon[:] #get all the items
pokemon[-3:] #get the last 3 values of the series

Pokemon
Diancie         Rock
Hoopa        Psychic
Volcanion       Fire
Name: Type, dtype: object

In [46]:
""" 
    now lets extract values using the the label "string index" 
"""
list(pokemon.index[:10]) #get the first ten indexes of the series

['Bulbasaur',
 'Ivysaur',
 'Venusaur',
 'Charmander',
 'Charmeleon',
 'Charizard',
 'Squirtle',
 'Wartortle',
 'Blastoise',
 'Caterpie']

In [47]:
"""
    now that we have the indexes in a list we will use them in our exxamples
"""
print("Ivysaur : " + pokemon['Ivysaur']) #get they type of Ivysaur using the label indexes and print
print("Blastoise : " + pokemon['Blastoise']) #get they type of Ivysaur using the label indexes and print
print("Caterpie: " + pokemon['Caterpie']) #get they type of Ivysaur using the label indexes and print

Ivysaur : Grass
Blastoise : Water
Caterpie: Bug

In [48]:
"""
    now that we have seen some egs we can now try getting multiple values
    I will take the aboe code that I used to create the list we used for the first
    example and pass it to the [list(pokemon.index[:10])] to get the first 10 Items
"""
pokemon[list(pokemon.index[:10])] #remeber when you filter pandas creates a new dataframe.

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

In [49]:
pokemon[list(pokemon.index[:10])]['Bulbasaur'] #returns correct results but it is not the best practice
#here is the best practive of the above line to make you code clean
pok_list = pokemon[list(pokemon.index[:10])] #create the new series
pok_list['Charizard'] #now extract

'Fire'

In [51]:
#filter the series based on a condition a condition
pok_list.values != "Fire" #inside the pok_list this will be ran first and it return a bool mask
grass_water = pok_list[pok_list.values != "Fire"]
grass_water #now you have grass and water only.

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Squirtle     Water
Wartortle    Water
Blastoise    Water
Caterpie       Bug
Name: Type, dtype: object

### use .get method to extract values from a series

In [ ]:
"""
    re run the  cell  that reads the data
"""
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)
#the sorting of the index helps pandas to locate values quicly so it is recomended that you sort
pokemon.sort_index(inplace=True)
pokemon.head()

In [ ]:
pokemon.get("Absol") # get a single values
"""
        remember the code inside the [] it creates a list od the first 10 index keys
"""
pokemon.get(pokemon[list(pokemon.index[:10])])
pokemon[list(pokemon.index[:10])]

In [ ]:
"""
    The Big question is what happens if .get method does not fi the key
    that is passed to it, it the  returns a nothing by default but it also has
    a parameter called default which we can change to cater for our senario
"""
#pokemon["not in series"] #this line will give you an error
pokemon.get("not in series", "not a pokemon") #when we don't find a pokemon let us return "not a pokemon"

### The math methods that are available on a series

In [56]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)

In [57]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [60]:
"""
    count method will return the count of valid values within the series
    unlike the len method count excludes the null or missing values
    while the len method includes the misssing values when it counts
"""
google.count()

3012

In [61]:
"""
    sum method takes all the values in the series and adds them up
"""
google.sum()

1006942.0

In [62]:
"""
    mean method returns the average of the series which is
    the sum of everything divided by the total number of values
"""
google.mean()

334.31009296148744

In [63]:
#valideting the mean
google.sum()/google.count()

334.3100929614874

In [64]:
"""
        std method with return the amount of variation of a set of values from the mean
"""
google.std()

173.18720477113106

In [65]:
"""
    min, max and median  method min will return the lowest value  and max return
    the highest value in the series while the median return the middle most value
    (value at the centre) of the series
"""
print("min : " + str(google.min()))
print("max : " + str(google.max()))
print("median : " + str(google.median()))

min : 49.95
max : 782.22
median : 283.315

In [66]:
#mode returns the value that occurs the most in the series
google.mode()

0    291.21
dtype: float64

In [67]:
"""
    Describe method does a lot of calculations and makes a summary of all the 
    calculated stats
"""
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [68]:
"""there are a lot of method that you can use on a pandas series"""

'there are a lot of method that you can use on a pandas series'

#### The .idxmax() and .idmin() Methods

In [76]:
"""
    the .idxmax method will return the index position that is storing the maximum
    value in the series
    while the .idxmin method will return the index where min is located
"""
google.idxmax() #max
google.idxmin() #min

11

In [80]:
google[google.idxmax()] #exxtract the value at the highest index
google[google.idxmin()] #extracting the value at the lowest index

49.95

### The .value_counts() Method

In [84]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)

In [85]:
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [87]:
"""
    the .value_counts method will calculate the number of occurances of an event
    in a series value counts is the best method to use
    (take unique balues and count how many times they occur in the series)
"""
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [89]:
#passing a few parameter to the value counts methods
pokemon.value_counts(ascending=True,dropna=False)

Flying        3
Fairy        17
Steel        22
Ice          23
Ghost        23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

### THe .apply Method

In [91]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [92]:
#let us create a custom function then apply it to the pandas series
def classify_performance(num):
    if num < 300:
        return "OK"
    elif num >=300 and num  < 650:
        return "Satisfactory"
    else:
        return "Incredible"

In [94]:
google.apply(classify_performance).value_counts()

OK              1721
Satisfactory    1075
Incredible       216
Name: Stock Price, dtype: int64

In [97]:
"""
    if we have somethin simpler we can apply an anonimus function
"""
google.apply(lambda stock_price: stock_price + 1).head()

0    51.12
1    55.10
2    55.65
3    53.38
4    53.95
Name: Stock Price, dtype: float64

### The .map Method

In [106]:
pokemon_names = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [107]:
pokemon_types = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [112]:
"""
    from the same csv we have read the data in different way in so that we
    can demonstrate how the map method works.
    from the pokemon_names we will map the pokemon types..
    map will take the values in pokemon_names, and check if they exist on pokemon_types
    then it will return the values in pokemon_types
"""
pokemon_names.map(pokemon_types).head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object

In [113]:
"""
    here we will be looking at the application of map in a different context
    we will map the values of a series from a dictionary
"""
pokemon_names = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon_types = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True).to_dict()

In [114]:
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [120]:
pokemon_types

In [122]:
"""
    the behid the scene method is the same to the above.
    but now what happens is that the map looks for these values from 
    the keys a dictionary unlike in a pandas series where it looks for
    those values from the index of the series
"""
pokemon_names.map(pokemon_types).head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object